_target_: src.model.LGMambaLightFSDEResidualInjectNet
in_channels: 4
out_channels: 3
feature_channels: [32, 64, 128, 256]
mamba_state: 16
mamba_conv: 4
mamba_expand: 2
deep_supervision: true
use_channel_shuffle: true
